@using RunningGroupApp.Data.Enum;
@model Club

<h2 class="text-danger">Are you sure you want to delete?</h2>

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Enter Title..." value="@Model.Title" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Enter Description..." value="@Model.Description" readonly>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" class="form-control" placeholder="Enter Image Url..." value="@Model.Image" readonly>
    </div>

    <div class="form-group">
        <label asp-for="ClubCategory">ClubCategory</label>
        <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control" readonly><option>-- Select --</option></select>
    </div>

    <div class="form-group">
        <label asp-for="Address.Street">Street</label>
        <input asp-for="Address.Street" class="form-control" placeholder="Enter Street..." value="@Model.Address.Street" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Address.City">City</label>
        <input asp-for="Address.City" class="form-control" placeholder="Enter City..." value="@Model.Address.City" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Address.State">State</label>
        <input asp-for="Address.State" class="form-control" placeholder="Enter State..." value="@Model.Address.State" readonly />
    </div>
<form method="post" asp-action="Delete">
    <input type="hidden" value="@Model.Id" id="@Model.Id" />
    <button type="submit" class="btn btn-primary btn-danger">Confirm</button>
</form>